/* blog */
.blog__top {
   text-align: center;
   margin-top: 15px;
}
.blog__top .blog__title {
   font-size: 30px;
   text-transform: uppercase;
   font-weight: 700;
   color: var(--moss-green-dark-color);
}
.blog__top .blog__desc {
   max-width: 620px;
   line-height: 1.4;
   font-size: 16px;
   color: var(--text-color);
   margin: 30px auto 20px;
}
.splide {
   padding: 30px;
   background-color: #eee;
   border-radius: 6px;
   margin-bottom: 50px;
}
.blog__wrap {
   overflow: hidden;
}
.blog__wrap .splide__dots {
   position: unset !important;
   transform: translateX(0);
   justify-content: center;
   margin-top: 10px;
}
.blog__wrap .splide__icon {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   background-color: #787171;
   border: 1px solid #eee;
   border-radius: 50%;
   box-shadow: 0 0 10px 2px #ccc;
}
.blog__slider {
   width: 100%;
   display: flex;
   gap: 10px;
}
.blog__wrap .blog__item {
   width: calc(50% - 5px);
}
.blog__slider .blog__item--img {
   width: 100%;
   height: 220px;
   overflow: hidden;
   border-radius: 6px;
   margin-bottom: 20px;
}
.blog__slider .blog__item--img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.blog__slider .blog__item--desc {
   display: -webkit-box;
   color: var(--title-color);
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.3;
   margin-bottom: 20px;
   font-size: 16px;
}
.blog__item--bottom {
   display: flex;
   align-items: center;
   font-size: 14px;
}
.blog__date {
   margin-right: 10px;
   color: #aaa7a7;
}
.blog__view {
   color: var(--btn-color);
}
/* blog main */
.blog__main {
   max-width: 1040px;
   margin: 0 auto;
   display: flex;
   align-items: flex-start;
   gap: 25px;
}
.blog__content {
   width: 75%;
}
.aside__blog {
   width: 25%;
}
.blog__main .blog__list {
   width: 100%;
}

.blog__main .blog__item {
   display: flex;
   align-items: flex-start;
   gap: 20px;
   color: var(--text-color);
   margin-bottom: 20px;
}
.blog__main .blog__item:last-child {
   margin: 0;
}
.blog__main .blog__item--img {
   height: 200px;
   width: 300px;
   flex-shrink: 0;
}
.blog__main .blog__item--img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.blog__main .blog__item--content .blog__item--title {
   font-size: 18px;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.3;
   margin-bottom: 20px;
}
.blog__main .blog__item--content .blog__item--desc {
   line-height: 1.3;
   font-size: 16px;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 15px 0;
}
.blog__main .blog__item--content .blog__item--btn {
   padding: 10px 15px;
   border-radius: 20px;
}
/* aside__blog */
.aside__blog--banner {
   width: 100%;
   height: 210px;
   overflow: hidden;
}
.aside__blog--banner img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.aside__blog--title {
   font-size: 18px;
   text-transform: uppercase;
   color: #334455;
   font-weight: 500;
   margin-top: 35px;
}
.aside__blog--list {
   margin-top: 20px;
}
.aside__blog--item {
   padding: 10px 0;
   border-bottom: 1px solid #dad5d5;
}
.aside__blog--item:last-child {
   border: none;
}
.aside__blog--link {
   display: flex;
   align-items: center;
   gap: 15px;
}

.aside__blog--link img {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   object-fit: cover;
   flex-shrink: 0;
}
.aside__blog--link span {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4;
   overflow: hidden;
   text-overflow: ellipsis;
   color: var(--text-color);
   line-height: 1.3;
}
.blog__bottom {
   max-width: 1040px;
   margin: 70px auto 50px;
}
.blog__bottom .blog__bottom--title {
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 500;
   color: #334455;
   margin-bottom: 25px;
}
.blog__bottom .blog__slider {
   gap: 20px;
}
@media screen and (max-width: 1024px) {
   .blog__main .aside__blog {
      display: none;
   }
   .blog__main .blog__content {
      width: 100%;
   }
   .blog__main .blog__item--img {
      width: 20%;
   }
}
@media screen and (max-width: 900px) {
   .blog__main .blog__item--img {
      width: 40%;
   }
}
@media screen and (max-width: 768px) {
   /* blog bottom */
   .blog__bottom .blog__slider {
      overflow: scroll;
   }
   .blog__wrap .blog__item {
      width: 100%;
      gap: 0;
   }
   .blog__bottom .blog__item {
      width: 50%;
      flex-shrink: 0;
   }
   .blog__bottom .blog__slider::-webkit-scrollbar {
      display: none;
   }
   .blog__bottom .blog__slider::-webkit-scrollbar-thumb {
      background: var(--btn-color);
      border-radius: 10px;
   }
}
@media screen and (max-width: 480px) {
   .blog__main .blog__item {
      flex-direction: column;
      gap: 15px;
   }
   .blog__main .blog__item--img {
      width: 100%;
      height: 200px;
   }
   /* blog__bottom */
   .blog__bottom .blog__item {
      width: 100%;
      flex-shrink: 0;
   }
}
